@font-face{

        font-family: "RocknRollOne-Regular";
        src: url('./font/RocknRoll_One/RocknRollOne-Regular;');
        
        font-family: "Roboto_Mono";
        src: url('./font/Roboto_Mono/RobotoMono-VariableFont_wght');
}

*{
    width: auto;
    height:auto;
}

main{
    background-image: url("./image/test fond.jpg");
    background-size: cover;
    background-attachment: fixed;
}

a{
    background-color: white;
    font-size: 2rem;
    font-family: "Roboto Mono";
    border:5px solid yellow;
    padding:15px;
    text-decoration: none;
}

section{
    text-align: center;
    margin: 50px;
    /* padding: 30px; */
    border: 5px solid blue;
}

article{
    margin: 50px;
    padding: 100px;
    border:5px solid orange;
}

.roboto-mono- {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.Marion{
    background-image: url('./imageFond/image-de-fond-marion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Killian{
    background-image: url('./imageFond/image-de-fond-killian.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Daniel{
    background-image: url('./imageFond/image-de-fond-daniel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Janel{
    background-image: url('./imageFond/image-de-fond-janel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}